<div class="dashboard-main">
    <nav class="dashboard-side">
        <div class="items">
            <div class="item">
                <i class="fas fa-chart-line"></i>
                <button class="button" mat-button>Messages</button>
            </div>
            <div class="item">
                <i class="fas fa-tasks"></i>
                <button class="button" mat-button>Settings</button>
            </div>
            <div class="item">
                <i class="fas fa-sign-out-alt"></i>
                <button class="button" mat-button (click)="logout()">Logout</button>
            </div>
        </div>
    </nav>
    <div class="dashboard-content">
        <div class="search-bar">
            <i class="fa fa-search"></i>
            <input id="search-people" type="text" placeholder="Search People & Groups">
        </div>
        <div class="chats">
            <div class="chats-list" [class.hide-display]="hideChatHistory">
                <div class="search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search Messages">
                </div>
                <div class="search-results" *ngIf="searchResults.length > 0">
                    <div class="users" (click)="initiateChat(searchResult)" *ngFor="let searchResult of searchResults">
                        <img src="../../../assets/avatar-male.svg">
                        <div class="details">
                            <span class="name">{{searchResult.firstName}} </span>
                            <span class="name">{{searchResult.lastName}} </span>
                            <span class="email">{{searchResult.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="chat-history" (click)="hideChatHistory= true; hideChatDisplay = false">
                    <ng-container *ngIf="contacts.length > 0; else noMessages">
                        <div class="chat" [class.bold-font-weight]="contact.newChat" (click)="selectUser(contact)" *ngFor="let contact of contacts">
                            <img src="../../../assets/avatar-male.svg">
                            <div class="chat-preview">
                                <span class="name">{{contact.firstName + " " + contact.lastName}}</span>
                                <span class="last-chat-preview" *ngIf="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].message | slice:0:15}}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="chats-display hide-display" [class.hide-display]="hideChatDisplay" *ngIf="selectedContact else welcomeMessage">
                <div class="chat-name">
                    <i class="back-arrow fas fa-arrow-left"></i>
                    <img class="avatar" src="../../../assets/avatar-male.svg">
                    <div class="display-name">
                        <span>{{selectedContact.firstName + " " + selectedContact.lastName}}</span>
                        <span class="status"> Online</span>
                    </div>
                </div>

                <div class="chat-discussion">
                    <ng-scrollbar>
                        <div class="messages-display">
                            <div class="message" *ngFor="let chat of selectedContact.messages; let i = index">
                                <div [class]="getMessageType(chat, selectedContact.messages[i - 1])">
                                    <span>{{chat.message}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-scrollbar>

                    <div class="message-typing">
                        <input type="text" [(ngModel)]="message" (keydown.enter)="sendMessage(selectedContact)" placeholder="Type Something ....">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #errorScreen>
    <h2 class="mat-subheading-2">We are having some difficulty loading your information </h2>
</ng-template>

<ng-template #welcomeMessage>
    <div class="chats-display" [class.hide-display]="hideChatDisplay" *ngIf="user">
        <img class="work-chat" src="../../../assets/work-chat.svg">
        <p class="name">Welcome, {{user.firstName + " " + user.lastName}}</p>
        <p class="sub-heading"> Search people and start chatting....</p>

    </div>
</ng-template>

<ng-template #noMessages>
    <div class="no-messages">
        <img src="../../../assets/empty.svg">
        <p class="message">No messages to display</p>
    </div>
</ng-template>
