/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
    height: 30px;
    width: auto;
}

.space-inbetween {
    flex: 1 1 auto;
}

.login {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .login {
        max-width: 400px;
        border-radius: 2rem;
        box-shadow: darken($color: #000000, $amount: 50);
    }
}
