/* You can add global styles to this file, and also import other style files */

@import "~@fortawesome/fontawesome-free/css/all.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background: none;
    height: 100vh;
}

.active-link {
    display: none !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

/**
    Styles for headers
**/

.header {
    display: flex;
    justify-content: space-between;
}

/**
* Login component CSS styles
*/

.login-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-component {
        min-width: 350px;
        text-align: center;

        .login-card {
            padding: 0px;
            border-radius: 10px;
            box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.5);

            .header {
                background-color: #673ab7;
                padding: 15px;
                margin-bottom: 10px;
                border-radius: 15px;
                width: 80%;
                position: relative;
                bottom: 25px;
                margin: auto;

                .mat-card-header-text {
                    margin: auto;
                    color: white;
                }
            }

            .content {
                padding: 15px 25px;
                margin-bottom: 0px;

                .fields {
                    width: 100%;
                }
            }

            .footer-buttons {
                padding-bottom: 25px;

                .reset-button {
                    border: #673ab7 1px solid;
                }
            }
        }
    }
}

/**
  Register component styles
**/

.register-component {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .register-card {
        width: 350px;
        min-height: 450px;
        text-align: center;
        padding: 0px;
        border-radius: 10px;
        box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .header {
        background-color: #673ab7;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 15px;
        width: 80%;
        position: relative;
        bottom: 25px;
        margin: auto;

        .mat-card-header-text {
            margin: auto;
            color: white;
        }
    }

    .content {
        padding: 0px 25px;
        margin-bottom: 0px;

        .name {
            display: flex;
            justify-content: space-between;

            .first-name-container {
                display: flex;
                justify-content: flex-start;
            }

            .last-name-container {
                display: flex;
                justify-content: flex-end;
            }



            .fields {
                width: 95%;
                text-align: start;

                .mat-form-field-infix {
                    width: auto;
                }
            }
        }

        .fields {
            width: 100%;

            .mat-form-field-wrapper {
                padding-bottom: 1em;
            }
        }
    }

    .footer-buttons {
        padding-bottom: 25px;

        .reset-button {
            border: #673ab7 1px solid;
        }
    }
}

@media (min-width: 780px) {

    .login-container,
    .register-component {
        background: url("./assets/background.svg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }

    .login-container {
        justify-content: flex-end;

        .login-component {
            margin-right: 3rem;
        }
    }

    .register-component {
        justify-content: flex-end;

        .register-card {
            margin-right: 3rem;
        }
    }
}

.dashboard-main {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    background-color: #F8F7FF;


    .dashboard-side {
        height: 95%;
        background-color: #673ab7;
        border-radius: 10px;
        flex-basis: 15%;
        align-self: center;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.2);

        .items {
            height: 35vh;

            .item {
                color: #FFFFFF;
                opacity: 0.9;
            }

            .item:hover {
                opacity: 1.0;
            }
        }
    }

    .dashboard-content {
        padding: 15px;
        flex-basis: 80%;

        .mat-display-1 {
            font-weight: 300;
            margin-bottom: 10px;
            font-size: 1.7rem;
        }

        .user-info {
            height: 20vh;
            background: url('assets/new-tasks.svg');
            background-repeat: no-repeat;
            background-position: right;
            background-size: 50% 200%;
            background-color: #FFFFFF;
            padding: 20px;
            box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.2);

            .mat-subheading-2 {

                font-weight: 400;
                font-size: 1.8rem;
            }
        }

        .projects-content {
            margin: 10px;

            .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .mat-subheading-2 {
                    font-size: 1.2rem;
                    display: inline;
                    margin-bottom: 0px;
                    padding: 10px;
                }

                .button {
                    margin-left: auto;
                }
            }

            .projects {
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;

                .project-description {
                    background-color: #FFFFFF;
                    flex-basis: 28%;
                    padding: 15px;
                    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

}
