/* You can add global styles to this file, and also import other style files */

@import "~@fortawesome/fontawesome-free/css/all.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: none;
    height: 100vh;
}

.active-link {
    display: none !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

/**
    Styles for headers
**/

.header {
    display: flex;
    justify-content: space-between;
}

/**
* Login component CSS styles
*/

.login-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-component {
        min-width: 350px;
        text-align: center;

        .login-card {
            padding: 0px;
            border-radius: 10px;
            box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.5);

            .header {
                background-color: #673ab7;
                padding: 15px;
                margin-bottom: 10px;
                border-radius: 15px;
                width: 80%;
                position: relative;
                bottom: 25px;
                margin: auto;

                .mat-card-header-text {
                    margin: auto;
                    color: white;
                }
            }

            .content {
                padding: 15px 25px;
                margin-bottom: 0px;

                .fields {
                    width: 100%;
                }
            }

            .footer-buttons {
                padding-bottom: 25px;

                .reset-button {
                    border: #673ab7 1px solid;
                }
            }
        }
    }
}

/**
  Register component styles
**/

.register-component {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .register-card {
        width: 350px;
        min-height: 450px;
        text-align: center;
        padding: 0px;
        border-radius: 10px;
        box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .header {
        background-color: #673ab7;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 15px;
        width: 80%;
        position: relative;
        bottom: 25px;
        margin: auto;

        .mat-card-header-text {
            margin: auto;
            color: white;
        }
    }

    .content {
        padding: 0px 25px;
        margin-bottom: 0px;

        .name {
            display: flex;
            justify-content: space-between;

            .first-name-container {
                display: flex;
                justify-content: flex-start;
            }

            .last-name-container {
                display: flex;
                justify-content: flex-end;
            }



            .fields {
                width: 95%;
                text-align: start;

                .mat-form-field-infix {
                    width: auto;
                }
            }
        }

        .fields {
            width: 100%;

            .mat-form-field-wrapper {
                padding-bottom: 1em;
            }
        }
    }

    .footer-buttons {
        padding-bottom: 25px;

        .reset-button {
            border: #673ab7 1px solid;
        }
    }
}

@media (min-width: 780px) {

    .login-container,
    .register-component {
        background: url("./assets/background.svg");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }

    .login-container {
        justify-content: flex-end;

        .login-component {
            margin-right: 3rem;
        }
    }

    .register-component {
        justify-content: flex-end;

        .register-card {
            margin-right: 3rem;
        }
    }
}

.dashboard-main {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    background-color: #eee;


    .dashboard-side {
        height: 95%;
        background-color: #673ab7;
        border-radius: 10px;
        flex-basis: 15%;
        align-self: center;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.2);

        .items {
            height: 35vh;

            .item {
                color: #FFFFFF;
                opacity: 0.9;
            }

            .item:hover {
                opacity: 1.0;
            }
        }
    }

    .dashboard-content {
        display: flex;
        flex-direction: column;
        flex-basis: 85%;
        align-self: center;
        height: 95vh;

        .search-bar {
            height: 10vh;
            position: relative;

            i {
                font-size: 1.4em;
                opacity: 0.5;
                position: absolute;
                top: 12px;
                left: 30px;
            }

            input {
                width: 75%;
                height: 40%;
                border-radius: 10px;
                border: none;
                padding: 23px;
                margin: 0px 20px;
                padding-left: 40px;
                font-size: 15px;
            }

            input:focus {
                outline: none;
            }
        }

        .chats {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .chats-list {
                flex-basis: 25%;
                background-color: #FFFFFF;
                height: 85vh;
                border-radius: 10px;
                margin: 0px 10px;
                padding: 5px;

                .search-bar {
                    position: relative;

                    input {
                        width: 90%;
                        height: 30px;
                        border: none;
                        padding: 10px;
                        margin: 10px;
                        border-radius: 10px;
                        background-color: #eee;
                        padding-left: 30px;
                        font-size: 14px;
                    }

                    input:focus {
                        outline: none;
                    }

                    i {
                        font-size: 1em;
                        opacity: 0.5;
                        position: absolute;
                        top: 17px;
                        left: 20px;
                    }
                }

                .search-results {
                    position: absolute;
                    background-color: #FFFFFF;
                    width: 45%;
                    top: 10%;
                    border-radius: 5px;
                    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
                    z-index: 5;

                    .users {
                        padding: 10px;
                        cursor: pointer;

                        img {
                            height: 35px;
                            width: 35px;
                            display: inline-block;
                        }

                        .details {
                            display: inline-block;
                            margin-left: 10px;

                            .name {
                                display: inline-block;
                                margin-right: 5px;
                            }

                            .email {
                                display: block;
                            }
                        }
                    }

                    :hover {
                        background-color: #78909C;
                    }


                }

                .chat-history {

                    .chat {
                        padding: 10px;
                        display: flex;

                        img {
                            height: 35px;
                            width: 35px;
                        }

                        .chat-preview {
                            .name {
                                display: block;
                                margin-left: 15px;
                                opacity: .7;
                            }

                            .last-chat-preview {
                                display: block;
                                margin-left: 15px;
                                font-size: 12px;
                                opacity: .7;
                            }

                            .new-chat {
                                opacity: 1;
                            }
                        }
                    }

                    .selected {
                        background-color: #eee;
                    }

                    :hover {
                        background-color: #EEE;
                        cursor: pointer;
                    }
                }

            }

            .chats-display {
                flex-basis: 70%;
                display: flex;
                flex-direction: column;
                background-color: #FFFFFF;
                height: 85vh;
                border-radius: 10px;

                .chat-name {
                    height: 10vh;
                    border-bottom: 2px solid #eee;
                    padding: 10px;
                    margin: 10px;

                    .avatar {
                        height: 35px;
                        width: 35px;
                        display: inline;
                    }

                    .display-name {
                        display: inline-block;
                        font-size: 16px;
                        vertical-align: top;
                        margin-left: 20px;

                        .status {
                            display: block;
                            font-size: 12px;
                        }
                    }
                }

                .chat-discussion {
                    padding: 10px;
                    height: 63vh;

                    .messages-display {
                        display: flex;
                        flex-direction: column;

                        .receiver-first {
                            position: relative;
                            background: #673ab7;
                            text-align: left;
                            padding: 10px 15px;
                            border-radius: 6px;
                            border: 1px solid #ccc;
                            float: left;
                            right: 20px;
                            color: #ffffff;
                            left: 10px;
                        }

                        .receiver-first::after {
                            content: '';
                            position: absolute;
                            visibility: visible;
                            top: 0px;
                            left: -8px;
                            border: 10px solid transparent;
                            border-top: 10px solid #673ab7;
                            clear: both;
                        }

                        .receiver {
                            position: relative;
                            background: #673ab7;
                            text-align: left;
                            padding: 10px 15px;
                            border-radius: 6px;
                            border: 1px solid #ccc;
                            float: left;
                            right: 20px;
                            color: #ffffff;
                            left: 10px;
                        }

                        .sender-first {
                            position: relative;
                            background: #78909C;
                            text-align: left;
                            padding: 10px 15px;
                            border-radius: 6px;
                            border: 1px solid #ccc;
                            float: right;
                            right: 20px;
                            color: #ffffff;
                            right: 20px;
                        }

                        .sender {
                            position: relative;
                            background: #78909C;
                            text-align: left;
                            padding: 10px 15px;
                            border-radius: 6px;
                            border: 1px solid #ccc;
                            float: right;
                            right: 20px;
                            color: #ffffff;
                            right: 20px;
                        }

                        .sender-first::after {
                            content: '';
                            position: absolute;
                            visibility: visible;
                            top: 0px;
                            right: -8px;
                            border: 10px solid transparent;
                            border-top: 10px solid #78909C;
                            clear: both;
                        }

                    }

                    .message-typing {
                        input {
                            border: none;
                            height: 5vh;
                            width: 55%;
                            font-size: 16px;
                            padding: 15px;
                            position: fixed;
                            bottom: 20px;
                        }

                        input:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

    }

}

.chats-display {
    padding: 20px;

    .name {
        font-size: 25px;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
    }

    .sub-heading {
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        opacity: .6;
    }

    .work-chat {
        margin-top: 30px;
        height: 60%;
        width: 100%;
    }
}

.no-messages {

    .message {
        display: block;
        text-align: center;
        padding: 10px;
        opacity: 0.8;
    }

    img {
        width: 100%;
        margin-top: 50px;
    }
}
